body{
    margin: 0;
    background-color: gray;
    color: white;
}
a{
    text-decoration: none;
}
h1{
    margin: 0;
    padding: 20px 20px;
}
header{
    background-color: rgb(173, 216, 230);
    text-align: center;
}
#nav>ol{
    display: flex;
    margin: 0;
    padding: 20px 20px;
    justify-content: space-around;
    list-style: none;
    background-color: darkblue;
}
li>a{
    color: white;
    text-decoration: none;
}
article{
    text-align: center;
}
.Control{
    display: block;
    text-align: center;
}
